<div class="outer-wrapper p-b-standard b-b-black ">
    
    <div class="pos-rel brdr-rds-20 ">
        {% if section.image %}
            <div class="image-container img-cover " >
                {% set image = get_image(section.image) %}

                <picture class="display ">
                    <source
                    data-srcset="{{image.src('large')}}"
                    media="(max-width: 767px)" />
                    <img data-src="{{image.src('large')}}" src="{{image.src('medium')}}" alt="{{image.alt}}" class="lazyload " width="{{image.width}}" height="{{image.height}}">
                </picture>
        </div>
        {% endif %}
        <div class="text-container yellow p-standard" >
            {% if section.title %}
                <h2 class="foc fs-32 m-b-standard">
                    {{section.title }}
                </h2>
            {% endif %}
            {% if section.text %}
                <div class="fdc fs-18 default-text">
                    <p>{{section.text }}</p>
                </div>
            {% endif %}
            
        </div>
    </div>
    
</div>    