<div class="outer-wrapper p-b-standard b-b-black">
    {% if section.image %}
        <div class="image-container img-cover pos-rel m-b-double brdr-rds-20" >
            {% set image = get_image(section.image) %}

            <picture class="display ">
                <source
                data-srcset="{{image.src('large')}}"
                media="(max-width: 767px)" />
                <img data-src="{{image.src('large')}}" src="{{image.src('medium')}}" alt="{{image.alt}}" class="lazyload " width="{{image.width}}" height="{{image.height}}">
            </picture>
    </div>
    {% endif %}
    <div class="text-container">
        {% if section.title %}
            <h2 class="foc fs-32 fs-70-desktop m-b-standard f-w-900">
                {{section.title }}
            </h2>
        {% endif %}
        <div class="inner-text-container">
            {% if section.text %}
                <div class="fdc fs-18 fs-34-desktop default-text">
                    <p>{{section.text }}</p>
                </div>
            {% endif %}
            {% if section.cta %}
                <div class="ctas-container  m-t-double">
                    <a  class="standard-btn foc fs-18 brdr-rds-20 min-width"  href="{{section.cta['url']}}" target="{{section.cta['target']}}" >
                        {{section.cta['title']}}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>