{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}



	<body class="{{body_class}} " data-template="base.twig" :class="menuClosed ? 'menu-not-open' : 'menu-open'"  @scroll.window="
	scrollY_ = scrollY" x-data="{menuClosed : true, scrollY_: 0}">
		

				<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
				
				<header class="header p-b-standard"  :class="scrollY_ > 150 ? 'hide-header' : 'show-header'">
					<div class="content-wrapper">
						{% block header %}
							<div class="pre-nav-header">
								<div class="upper-header dis-flex b-b-black align-center ">
									<a id="navbar-brand" class="navbar-brand display " href="{{ site.link }}" rel="home" title="{{ site.title }}" itemprop="url">
										{% set image = get_image(options.header_logo) %}
										<img src="{{image.src}}" class="display" alt="{{image.alt}}" width="{{image.width}}" height="{{image.height}}">
									</a>
								{#<span class="fs-20 fdc tagline">{{site.description}}</span>#}
								
								<a href="#" class="account-btn display hide-desktop" title="account-page">
									<svg role="presentation" width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.44531 5.86401C5.44531 4.69897 5.9142 3.58168 6.74882 2.75787C7.58343 1.93405 8.71542 1.47119 9.89575 1.47119C11.0761 1.47119 12.2081 1.93405 13.0427 2.75787C13.8773 3.58168 14.3462 4.69897 14.3462 5.86401C14.3462 8.2898 12.3534 10.9335 9.89575 10.9335C7.43813 10.9335 5.44531 8.28407 5.44531 5.86401Z" stroke="black" stroke-miterlimit="10"/>
<path d="M18.7901 21.1302C18.1394 17.9589 14.4094 14.9424 9.89506 14.9424C5.38071 14.9424 1.64491 17.9589 1 21.1302" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
</svg>
								</a>

								<a href="{{cart_url}}" class="cart-btn display hide-desktop" title="cart-page">
									<svg role="presentation" width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9755 15.9685H8.1698L5.23633 3.67871H24.4109L21.9755 15.9685Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.21 21.13C11.6225 21.13 11.957 20.7999 11.957 20.3927C11.957 19.9854 11.6225 19.6553 11.21 19.6553C10.7974 19.6553 10.4629 19.9854 10.4629 20.3927C10.4629 20.7999 10.7974 21.13 11.21 21.13Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M18.6787 21.13C19.0913 21.13 19.4258 20.7999 19.4258 20.3927C19.4258 19.9854 19.0913 19.6553 18.6787 19.6553C18.2661 19.6553 17.9316 19.9854 17.9316 20.3927C17.9316 20.7999 18.2661 21.13 18.6787 21.13Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.912 9.82373H15.9395" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M5.26324 3.76691L3.98328 2.50844C3.36646 1.89803 2.53999 1.5384 1.66739 1.50069L1 1.47119" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

								</a>
								<button class="navbar-toggler transition default-btn pos-rel hide-desktop" type="button" data-toggle="collapse" data-target="#nav-main" aria-controls="nav-main" aria-expanded="false" aria-label="Toggle navigation" @click.stop="menuClosed = !menuClosed">
									<div class="bar transition"></div>
									<div class="bar transition"></div>
									<div class="bar transition"></div>
								</button>
							</div>
							
							</div>
							<nav id="nav-main" class="nav-main fdc transition"  role="navigation">
								<div class="inner-menu dis-flex flex-col jus-space-between">
									{% include "menu.twig" with {'items': menu.get_items} %}
								<div class="lower-menu dis-flex hide-desktop jus-space-between m-t-standard">
									<div class="default-text fs-10 foc">
										<p>{{options.footer_text}}</p>
									</div>
									{% if options.socials %}
									<div class="socials dis-flex align-center" >
										{% for item in options.socials %}
											<a class="display"  href="{{ item.link['url'] }}" title="{{ item.link['title'] }}" target="_blank">
												{{item.icon}}
											</a>
										{% endfor %}
									</div>
								{% endif %}
								</div>

									<div class="lower-menu-desktop hide-mobile dis-flex align-center">
										<a href="#" class="account-btn display hide-mobile" title="account-page">
									<svg role="presentation" width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.44531 5.86401C5.44531 4.69897 5.9142 3.58168 6.74882 2.75787C7.58343 1.93405 8.71542 1.47119 9.89575 1.47119C11.0761 1.47119 12.2081 1.93405 13.0427 2.75787C13.8773 3.58168 14.3462 4.69897 14.3462 5.86401C14.3462 8.2898 12.3534 10.9335 9.89575 10.9335C7.43813 10.9335 5.44531 8.28407 5.44531 5.86401Z" stroke="black" stroke-miterlimit="10"/>
<path d="M18.7901 21.1302C18.1394 17.9589 14.4094 14.9424 9.89506 14.9424C5.38071 14.9424 1.64491 17.9589 1 21.1302" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
</svg>
								</a>

								<a href="{{cart_url}}" class="cart-btn display hide-mobile" title="cart-page">
									<svg role="presentation" width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M21.9755 15.9685H8.1698L5.23633 3.67871H24.4109L21.9755 15.9685Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.21 21.13C11.6225 21.13 11.957 20.7999 11.957 20.3927C11.957 19.9854 11.6225 19.6553 11.21 19.6553C10.7974 19.6553 10.4629 19.9854 10.4629 20.3927C10.4629 20.7999 10.7974 21.13 11.21 21.13Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M18.6787 21.13C19.0913 21.13 19.4258 20.7999 19.4258 20.3927C19.4258 19.9854 19.0913 19.6553 18.6787 19.6553C18.2661 19.6553 17.9316 19.9854 17.9316 20.3927C17.9316 20.7999 18.2661 21.13 18.6787 21.13Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.912 9.82373H15.9395" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M5.26324 3.76691L3.98328 2.50844C3.36646 1.89803 2.53999 1.5384 1.66739 1.50069L1 1.47119" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

								</a>
									</div>
								</div>
							</nav>
						{% endblock %}
					</div>	
				</header>
				

				<main id="content" role="main">
					{% block content %}
						Sorry, no content
					{% endblock %}
					
				</main>
				
				{% block footer %}
					<footer id="footer" class="bg-black white m-t-standard " >
						{% include 'footer.twig' %}
					</footer>
					{{ function('wp_footer') }}
				{% endblock %}
		
	</body>
	
	
</html>
