
 <div class="content-wrapper "> 
        <nav id="nav-models-footer" class="nav-footer nav-models-footer fs-12 foc p-b-standard" role="navigation">
                {% if models and model_archive %}
                    <div class="models-nav">
                        <a href="{{model_archive.link}}" title="{{model_archive.title}}">
                            {{model_archive.title}}
                        </a>

                        <ul>
                            {% for item in models %}
                                <li>
                                    <a href="{{item.link}}" title="{{item.title}}">
                                        {{item.title}}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                
                {% endif %}

            </nav>

        <div class="lower-footer  m-t-standard">
            <nav id="nav-footer" class="nav-footer lower-nav-footer fs-12 foc" role="navigation">

				<div class="main-nav">
                    {% include "menu.twig" with {'items': main_footer_menu.get_items} %}
                </div>					
                <div class="secondary-nav-social">
                    {% include "menu.twig" with {'items': secondary_menu.get_items} %}

                    {% if options.socials %}
                        <div class="socials dis-flex align-center" >
                            {% for item in options.socials %}
                                <a class="display"  href="{{ item.link['url'] }}" title="{{ item.link['title'] }}" target="_blank">
                                    {{item.icon}}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                </div>   
                 
            </nav>

            <div class="footer-texts dis-flex jus-space-between" >
                <span class="fs-10 foc tagline display">{{site.description}}</span>
                <div class="default-text fs-10 foc">
                    <p>{{options.footer_text}}</p>
                </div>
            </div>
        </div>

        <a class="navbar-brand-footer display m-t-standard" href="{{ site.link }}" rel="home" title="{{ site.title }}" itemprop="url">
            {% set image = get_image(options.footer_logo) %}
            <img class="display" src="{{image.src}}"  alt="{{image.alt}}" width="{{image.width}}" height="{{image.height}}">
        </a>
</div>