{% extends "base.twig" %}

{% block content %}

    {% do action('woocommerce_before_single_product') %}

    <div class="outer-wrapper-product p-b-double" >

        <article itemscope itemtype="https://schema.org/Product" class="single-product-details {{ post.class }} ">

            <div class="content-wrapper">
                
                <div class="main-product b-b-black p-b-standard m-b-standard">
                    <div class="block-header">
                        <h1 class="product_title entry-title foc fs-28 fs-70-desktop" >{{post.title}}</h1>
                        {{fn('print_price')}}
                    </div>

                    <div class="entry-images">
                        {% do action('woocommerce_before_single_product_summary') %}
                    </div>

                    <aside class="product-aside">
                        <div class="summary entry-summary b-b-black p-b-standard">
                            {% do action('woocommerce_single_product_summary') %}

                            
                            <meta itemprop="url" content="{{ post.link }}" />
                        </div>
                        
                        <div class="default-text foc fs-18 m-t-standard">
                            {{post.content}}
                        </div>
                    </aside>
                </div>

            </div>

        </article>

        <div class="related-products-wrapper">
            <div class="content-wrapper">
                {% do action('woocommerce_after_single_product_summary') %}
            </div>
        </div>
        

        
    
    </div>
    {% do action('woocommerce_after_single_product') %}


{% endblock  %}