{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="main-info p-b-standard b-b-black m-b-standard">
				{% if post.thumbnail %}
					<div class="image-container  basic-brdr-rds display" >
						{% set image = get_image(post.thumbnail) %}

						<picture class="display ">
							<source
							data-srcset="{{image.src('large')}}"
							media="(max-width: 767px)" />
							<img data-src="{{image.src}}" src="{{image.src('medium')}}" alt="{{image.alt}}" class="lazyload display" width="{{image.width}}" height="{{image.height}}">
						</picture>
				</div>
				{% endif %}

				<div class="block-header m-t-standard">
					<div class="block-title">
						<h1 class="foc fs-34">
							{{post.title}}
						</h1>

						<h2 class="fs-22 fdc f-w-400">
							{{post.meta('subtitle')}}
						</h2>
					</div>

					{% if post.meta('terrain') and  post.meta('material') %}
						<div class="block-main-features dis-flex jus-space-between m-t-standard">
							{% set title = options.terrain %}
							{% set value = post.meta('terrain') %}
							{% include "partial/single-feature.twig" with {'title':title, 'value':value}  %}

							{% set title = options.material %}
							{% set value = post.meta('material') %}
							{% include "partial/single-feature.twig" with {'title':title, 'value':value}  %}
						</div>
					{% endif %}
					
				</div>
				<div class="main-text-container m-t-double">
					<div class="defaul-text fdc fs-18">
						<p>{{post.excerpt({
                            strip: true,
                            read_more: ""
                        })}}</p>
					</div>
				</div>
			</section> 
			
			<section class="article-content">
				<aside class="model-specs bg-black yellow brdr-rds-20 p-l-r-standard">
					<div class="specs-group  b-b-yellow p-b-standard m-b-standard">
						<h3 class="group-title fdc fs-20">
							{{options.characteristics}}
						</h3>

						{% if post.meta("specs") %}
							<div class="specs-values">
								{% for item in post.meta("specs") %}
									{% include "partial/single-feature.twig" with {'title':item.title, 'value':item.value}  %}
								{% endfor %}
							</div>
						{% endif %}
					</div>
					<div class="specs-group   b-b-yellow p-b-standard m-b-standard">
						<div class="group-header">
								<h3 class="group-title fdc fs-20">
									{{options.geometry}}
								</h3>
								<div class="ctas-container  ">
									<button  class="standard-btn foc fs-18 fake-btn transition brdr-rds-20"  type="button" data-goto="#geometry"  >
										{{options.learn_more}}
									</button>
								</div>
							</div>
					</div>	
					{% if post.meta("colors") %}
						<div class="specs-group  b-b-yellow p-b-standard m-b-standard">
							<h3 class="group-title fdc fs-20">
								{{options.colors}}
							</h3>
							{% for item in post.meta("colors") %}
								<details class="sub-group">
									{% if item.group_title %}
										<summary >
											<span class="foc fs-18">
											{{item.group_title}}
											</span>
										</summary>
									{% endif %}

									{% if item.colors %}
										<div class="colors-container">
											{% for color in item.colors %}
												{% include "partial/single-color.twig" with {'item':color}  %}
											{% endfor %}
										</div>
									{% endif %}
								</details>
							{% endfor %}
						</div>	
					{% endif %}

					{% if post.meta('logos') %}
						<div class="specs-group  ">
							<h3 class="group-title fdc fs-20">
								{{options.logos}}
							</h3>

							{% for item in post.meta("logos") %}
								{% include "partial/single-logo.twig" with {'item':item}  %}
							{% endfor %}
						</div>
					{% endif %}
				</aside>
				
				<div class="article-body ">
					{% set total = 0 %}
					{% set images = null %}

					{% if post.meta('gallery') %}
						{% set images = post.meta('gallery') %}
						{% set total = images|length %}
					{% endif %}

					{% if total > 0 %}
						<div class="intro-img image-container  basic-brdr-rds" >
							{% set image = get_image(images[0]) %}

							<picture class="display ">
								<source
								data-srcset="{{image.src('large')}}"
								media="(max-width: 767px)" />
								<img data-src="{{image.src('large')}}" src="{{image.src('medium')}}" alt="{{image.alt}}" class="lazyload " width="{{image.width}}" height="{{image.height}}">
							</picture>
						</div>
					{% endif %}
					{% if total > 2 %}
						<div class="img-slider">
							{% for i in 1..total - 2 %}
								<div class="simple-img image-container  basic-brdr-rds" >
									{% set image = get_image(images[i]) %}

									<picture class="display ">
										<source
										data-srcset="{{image.src('large')}}"
										media="(max-width: 767px)" />
										<img data-src="{{image.src('large')}}" src="{{image.src('medium')}}" alt="{{image.alt}}" class="lazyload " width="{{image.width}}" height="{{image.height}}">
									</picture>
								</div>
							{% endfor %}
						</div>
					{% endif %}

					<div class="default-text ft fs-18">
						{{post.content}}
					</div>

					{% if total > 1 %}
						<div class="final-img image-container  basic-brdr-rds" >
							{% set image = get_image(images[total - 1]) %}

							<picture class="display ">
								<source
								data-srcset="{{image.src('large')}}"
								media="(max-width: 767px)" />
								<img data-src="{{image.src('large')}}" src="{{image.src('medium')}}" alt="{{image.alt}}" class="lazyload " width="{{image.width}}" height="{{image.height}}">
							</picture>
						</div>
					{% endif %}
				</div>
			</section>

			<section class="geometry" id="geometry">
				{% if post.meta('geometry_image') %}
					<div class="image-container  basic-brdr-rds" >
						{% set image = get_image(post.meta('geometry_image')) %}

						<picture class="display ">
							<source
							data-srcset="{{image.src('large')}}"
							media="(max-width: 767px)" />
							<img data-src="{{image.src('large')}}" src="{{image.src('medium')}}" alt="{{image.alt}}" class="lazyload " width="{{image.width}}" height="{{image.height}}">
						</picture>
					</div>
				{% endif %}
				<div class="text-container">
					<h3 class="fdc fs-28">
						{{options.geometry}}
					</h3>
					<div class="default-text ft fs-18">
						{{post.meta('geometry_text')}}
					</div>
				</div>
			</section>
		</article>

		<section class="order">
			<div class="block-header">
				<h3 class="fdc fs-28">
					{{options.order}}
				</h3>
				<div class="default-text ft fs-12">
					{{options.order_text}}
				</div>
			</div>
			<div class="form-container standard-form">
				{{fn('do_shortcode','[contact-form-7 id="4fd1762" title="Ordina"]')}}
			</div>
		</section>

		<section class="complex-section builds">
			{% include "blocks/builds.twig"  %}
		</section>
	</div><!-- /content-wrapper -->
{% endblock %}
