{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper  p-b-double">
		<article class="post-type-{{ post.post_type }} p-b-standard b-b-black m-b-standard" id="post-{{ post.ID }}" x-data="singelModel()">
			<section class="main-info p-b-standard b-b-black m-b-standard">
				{# if post.thumbnail %}
					<div class="image-container  basic-brdr-rds display" >
						{% set image = get_image(post.thumbnail) %}

						<picture class="display ">
							<source
							data-srcset="{{image.src('large')}}"
							media="(max-width: 767px)" />
							<img data-src="{{image.src}}" src="{{image.src('medium')}}" alt="{{image.alt}}" class="lazyload display" width="{{image.width}}" height="{{image.height}}">
						</picture>
				</div>
				{% endif #}

				<div class="inner-info-text-container m-t-standard">
					<div class="block-header ">
					<div class="block-title">
						<h1 class="foc fs-34 fs-70-desktop f-w-900">
							
							{{post.title}}
						</h1>

						<h2 class="fs-22 fs-34-desktop fdc f-w-400">
							{{post.meta('subtitle')}}
						</h2>
					</div>

					{% if post.meta('terrain') and  post.meta('material') %}
						<div class="block-main-features dis-flex jus-space-between m-t-standard">
							{% set title = options.terrain %}
							{% set value = post.meta('terrain') %}
							{% include "partial/single-feature.twig" with {'title':title, 'value':value}  %}

							{% set title = options.material %}
							{% set value = post.meta('material') %}
							{% include "partial/single-feature.twig" with {'title':title, 'value':value}  %}
						</div>
					{% endif %}
					
				</div>
				<div class="main-text-container m-t-double">
					<div class="defaul-text fdc fs-18 fs-34-desktop">
						<p>{{post.excerpt({
                            strip: true,
                            read_more: ""
                        })}}</p>
					</div>
				</div>
				</div>
			</section> 
			
			<section class="article-content p-b-standard b-b-black m-b-standard">
				{% include "blocks/model-aside.twig"  %}
				
				<div class="article-body ">

					{% if post.thumbnail %}
						<div class="intro-img image-container  basic-brdr-rds display" >
							{% set image = get_image(post.thumbnail) %}

							<picture class="display ">
								<source
								data-srcset="{{image.src('large')}}"
								media="(max-width: 767px)" />
								<img data-src="{{image.src}}" src="{{image.src('medium')}}" alt="{{image.alt}}" class="lazyload display" width="{{image.width}}" height="{{image.height}}">
							</picture>
					</div>
					{% endif %}
					{% set total = 0 %}
					{% set images = null %}

					{% if post.meta('gallery') %}
						{% set images = post.meta('gallery') %}
						{% set total = images|length %}
					{% endif %}

					{# if total > 0 %}
						<div class="intro-img image-container  basic-brdr-rds" >
							{% set image = get_image(images[0]) %}

							<picture class="display ">
								<source
								data-srcset="{{image.src('large')}}"
								media="(max-width: 767px)" />
								<img data-src="{{image.src('large')}}" src="{{image.src('medium')}}" alt="{{image.alt}}" class="lazyload display " width="{{image.width}}" height="{{image.height}}">
							</picture>
						</div>
					{% endif #}
					{% if total > 0 %}
						<div class="img-slider m-t-standard">
							<div class="inner-img-slider">
								{% for i in 0..total - 2 %}
								<div class="simple-img image-container  " >
									{% set image = get_image(images[i]) %}

									<picture class="display basic-brdr-rds">
										<source
										data-srcset="{{image.src('large')}}"
										media="(max-width: 767px)" />
										<img data-src="{{image.src('large')}}" src="{{image.src('medium')}}" alt="{{image.alt}}" class="lazyload display " width="{{image.width}}" height="{{image.height}}">
									</picture>
								</div>
							{% endfor %}
							</div>
						</div>
					{% endif %}

					<div class="default-text ft fs-18 main-text">
						{{post.content}}
					</div>

					
				</div>

				{% if total > 1 %}
					<div class="final-img image-container  basic-brdr-rds m-t-standard" >
						{% set image = get_image(images[total - 1]) %}

						<picture class="display ">
							<source
							data-srcset="{{image.src('large')}}"
							media="(max-width: 767px)" />
							<img data-src="{{image.src('large')}}" src="{{image.src('medium')}}" alt="{{image.alt}}" class="lazyload display " width="{{image.width}}" height="{{image.height}}">
						</picture>
					</div>
				{% endif %}
			</section>

			{% include "blocks/geometry.twig"  %}
		</article>

		<section class="order">
			<div class="block-header">
				<h3 class="fdc fs-28">
					{{options.order}}
				</h3>
				<div class="default-text ft fs-12 m-t-standard">
					{{options.order_text}}
				</div>
			</div>
			<div class="form-container standard-form m-t-standard">
				{{fn('do_shortcode','[contact-form-7 id="4fd1762" title="Ordina"]')}}
			</div>
		</section>

		<section class="complex-section builds">
			{% include "blocks/builds.twig"  %}
		</section>
	</div><!-- /content-wrapper -->
{% endblock %}
