
<a class="single-build-preview t-d-none" href="{{item.link}}" >
    <article  >
        {% if item.thumbnail %}
            <div class="image-container   brdr-rds-20" >
                <picture  class="img-cover pos-rel display">
                {% set image = get_image(item.thumbnail) %}
                {{ fn(
                    'wp_get_attachment_image',
                    image.id,
                    'medium_large',
                    false,
                    {
                      'class': 'lazyload',
                      'sizes': '(max-width: 767px) 100vw, 700px',
                      'alt': image.alt,
                      'loading': 'lazy'
                    }
                  ) }}
            </div>
        {% endif %}
        
        
        <div class="text-container m-t-standard  dis-flex jus-space-between">
            <div class="info-container">
                <h3 class="foc fs-22"><strong>{{item.title}}</strong></h3>
            
                <span class="fdc fs-22 ">
                    {{item.meta('subtitle')}}
                </span>
            </div>

            <div class="ctas-container">
                <button  class="standard-btn foc fs-18 fake-btn transition default-btn brdr-rds-20" type="button"   >
                    {{button}}
                </button>
            </div>
                            
        </div>
            
    </article>
</a>