
<a class="single-build-preview t-d-none" href="{{item.link}}" title="{{item.title}}">
    <article  >
        {% if item.thumbnail %}
            <div class="image-container   brdr-rds-20" >
                <picture  class="img-cover pos-rel display">
                {% set image = get_image(item.thumbnail) %}
                    <source
                    data-srcset="{{image.src('large')}}"
                    media="(max-width: 767px)" />
                    <img data-src="{{image.src('large')}}" src="{{image.src('medium')}}" alt="{{image.alt}}"   class="lazyload" width="{{image.src('large').width}}" height="{{image.src('large').height}}" />
                </picture> 
            </div>
        {% endif %}
        
        
        <div class="text-container m-t-standard  dis-flex jus-space-between">
            <div class="info-container">
                <h3 class="foc fs-22"><strong>{{item.title}}</strong></h3>
            
                <span class="fdc fs-22 ">
                    {{item.meta('subtitle')}}
                </span>
            </div>

            <div class="ctas-container">
                <button  class="standard-btn foc fs-18 fake-btn transition default-btn brdr-rds-20" type="button"   >
                    {{button}}
                </button>
            </div>
                            
        </div>
            
    </article>
</a>