{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block">
        <ul class="pagination r-l step--1">
            {# First #}
            {% if (posts.pagination.pages|first) and posts.pagination.pages|first.current != true %}
                <li class="first btn">
                    <a class="transition" href="{{ posts.pagination.pages|first.link }}">{{options.first|upper}}</a>
                </li>
            {% else %}
                <li class="first btn disabled"><button class="default-btn" disabled>{{options.first|upper}}</button></li>
            {% endif %}

            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="prev btn"><a class="transition" href="{{ posts.pagination.prev.link }}">{{options.previous|upper}}</a></li>
            {% else %}
                <li class="prev btn disabled"><button class="default-btn" disabled>{{options.previous|upper}}</button></li>
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li><a class="transition" href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a></li>
                {% else %}
                    <li class="current"><span class="{{ page.class }}">{{ page.title }}</span></li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li class="next btn"><a class="transition" href="{{ posts.pagination.next.link }}">{{options.next|upper}}</a></li>
            {% else %}
                <li class="next btn disabled"><button class="default-btn" disabled>{{options.next|upper}}</button></li>
            {% endif %}

            {# Last #}
            {% if (posts.pagination.pages|last) and posts.pagination.pages|last.current != true %}
                <li class="last btn"><a class="transition" href="{{ posts.pagination.pages|last.link }}">{{options.last|upper}}</a></li>
            {% else %}
                <li class="last btn disabled"><button class="default-btn" disabled>{{options.last|upper}}</button></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}