
<a class="single-post-preview t-d-none" href="{{item.link}}" target="_self" title="{{item.title}}">
    <article  class="dis-flex flex-col">
        {% if item.thumbnail %}
            <div class="image-container basic-brdr-rds">
                <picture  class="img-cover pos-rel display">
                {% set image = get_image(item.thumbnail) %}
                    <source
                    data-srcset="{{image.src('large')}}"
                    media="(max-width: 767px)" />
                    <img data-src="{{image.src('large')}}" src="{{image.src('medium')}}" alt="{{image.alt}}"   class="lazyload" width="{{image.src('large').width}}" height="{{image.src('large').height}}" />
                </picture> 
            </div>
        {% endif %}
        
        
        <div class="text-container m-t-standard dis-flex flex-col">
            <h3 class="foc fs-32 fs-42-desktop f-w-900">{{item.title}}</h3>
        
            <div class="ft fs-18 fs-34-desktop m-t-standard m-b-double">
                <p>{{item.excerpt({
                    words: 20, 
                    strip: true,
                    read_more: ""
                })}}</p>
            </div>
            
            <div class="ctas-container  m-t-auto">
                <button class="standard-btn foc fs-18 fake-btn transition default-btn brdr-rds-20 min-width" type="button"   >
                    {{button}}
                </button>
            </div>
                            
        </div>
            
    </article>
</a>