

<div class="text-container r-l ">
    <h2 class="step-0">{{description}}</h2>
    <div class="standard-text default-text r-l  grey-4 step-0" itemprop="description">
        

        {% set exist = false %}
        {% if item.meta("collezione") %}
            <p>{{item.meta("collezione")}} </p>
            
        {% endif %}
        {% if item.meta("origine_data") %}
            <p>{{item.meta("origine_data")}} </p>
           
        {% endif %}
        {% if item.meta("tecnica") %}
            <p>{{item.meta("tecnica")}}</p>
          
        {% endif %}
        {% if item.meta("autentica") %}
            <p>{{item.meta("autentica")}}</p>
            
        {% endif %}
        {% if item.meta("bibliografia") %}
            <p>{{item.meta("bibliografia")}}</p>
         
        {% endif %}
        {% if item.meta("esposizioni") %}
            <p>{{item.meta("esposizioni")}}</p>
        {% endif %}
        {% if item.meta("storytelling") %}
            <p>{{item.meta("storytelling")}}</p>
        {% endif %}
       
    </div>
    <h2 class="step-0">{{details}}</h2>
    {% if item.meta("misure") %}
        <div class="standard-text default-text r-l  grey-4 step-0">
       {#item.excerpt.read_more('') #}
        
            <p>{{item.meta("misure")}}</p>
        
        
    </div>   
    {% endif %}
</div>