

<a class="single-product-preview  t-d-none" href="{{item.link}}"  title="{{item.title}}" >
    <article  >
   
        <div class="image-container  brdr-rds-20">
            <picture   class="img-cover pos-rel display">
            {% set image = get_image(item.thumbnail) %}
                <source
                data-srcset="{{image.src('large')}}"
                media="(max-width: 767px)" />
                
                <img data-src="{{image.src('large')}}" src="{{image.src('medium')}}" alt="{{image.alt}}"   class="lazyload" width="{{image.src('large').width}}" height="{{image.src('large').height}}" />
            </picture>
                
        </div>
        <div class="text-container m-t-standard">
            <h3 class="fdc fs-25"><strong>{{item.title}}</strong></h3>
            {% set price = fn('wc_get_product', item.id) %}
            <div class="foc fs-18">{{price.get_price_html}}</div>
        </div>
    </article>
</a>    

   