
<a class="standard-item t-d-none" href="{{item.link}}" target="_self" >
    <article  class="pos-rel ">
        {% if item.thumbnail %}
            <div class="image-container img-square pos-rel brdr-rds-20">
                <picture  class="img-cover display">
                {% set image = get_image(item.thumbnail) %}
                {{ fn(
                    'wp_get_attachment_image',
                    image.id,
                    'medium_large',
                    false,
                    {
                      'class': 'lazyload',
                      'sizes': '(max-width: 767px) 50vw, 350px',
                      'alt': image.alt,
                      'loading': 'lazy'
                    }
                  ) }}
                </picture> 
            </div>
        {% endif %}
        
        
        <div class="text-container  p-standard brdr-rds-20">
            <h3 class="foc fs-32">{{item.title}}</h3>
        
            <div class="ft fs-18 hide-mobile  default-text">
                <p>{{item.excerpt({
                        words: 20, 
                        strip: true,
                        read_more: ""
                    })}}</p>
            </div>
            
            <div class="ctas-container  ">
                <button  class="standard-btn secondary foc fs-18 default-btn transition brdr-rds-20 min-width" type="button"   >
                    {{options.read}}
                </button>
            </div>
                            
        </div>
            
    </article>
</a>