{% set class = '' %}

{% if is_main %}
    {% set class = ' b-b-black p-b-standard main-item' %}
{% else %}
    {% set class = 'simple-item' %}    
     
{% endif %}


<a class="single-post-preview t-d-none m-b-standard {{class}}" href="{{item.link}}" target="_self" title="{{item.title}}">
    <article  class="pos-rel ">
        {% if item.thumbnail %}
            <div class="image-container  pos-rel brdr-rds-20">
                <picture  class="img-cover display">
                {% set image = get_image(item.thumbnail) %}
                    <source
                    data-srcset="{{image.src('large')}}"
                    media="(max-width: 767px)" />
                    {% if is_main %}
                        <img data-src="{{image.src}}" src="{{image.src('medium')}}" alt="{{image.alt}}"   class="lazyload" width="{{image.src('large').width}}" height="{{image.src('large').height}}" />
                    {% else %}
                        <img data-src="{{image.src('large')}}" src="{{image.src('medium')}}" alt="{{image.alt}}"   class="lazyload" width="{{image.src('large').width}}" height="{{image.src('large').height}}" />
                   
                    {% endif %}
                </picture> 
            </div>
        {% endif %}
        
        
        <div class="text-container m-t-standard">
            {% set class = '' %}
            {% if is_main %}
                {% set class = 'fdc fs-62 fs-128-desktop' %}
            {% else %}
                {% set class = 'foc fs-32 fs-70-desktop' %}    
            {% endif %}    
                
            <h3 class="{{class}}">{{item.title}}</h3>

            {% if is_main %}
                <div class="fdc fs-18 fs-34-desktop default-text m-t-standard">
                    <p>{{item.excerpt({
                                strip: true,
                                read_more: ""
                            })}}</p>
                </div>
            
            {% endif %}
        
            {% if item.meta('author') or  item.meta('photographer') %}
                {% set class = '' %}
                {% if is_main %}
                    {% set class = 'm-t-standard' %}
                {% else %}
                    {% set class = 'm-t-double' %}    
                {% endif %}

                <div class="info-container ft {{class}}">
                    {% if item.meta('author') %}
                        <div class="single-info">
                            {% set class = '' %}
                            {% if not is_main %}
                                {% set class = 'hide-desktop' %}
                                <span class="fs-12 fs-14-desktop hide-mobile italic">{{by}}</span>
                            {% endif %} 

                            <span class="fs-12  italic {{class}}  fs-14-desktop">{{author}}</span>
                            <span class="fs-16  fs-20-desktop"><strong>{{item.meta('author')}}</strong></span>
                        </div>
                        
                    {% endif %}

                    {% set class = '' %}
                    {% if not is_main %}
                        {% set class = 'hide-desktop' %}
                    {% endif %} 
                        {% if item.meta('photographer') %}
                            <div class="single-info {{class}}">
                                <span class="fs-12  italic  fs-14-desktop">{{photographer}}</span>
                                <span class="fs-16 fs-20-desktop"><strong>{{item.meta('photographer')}}</strong></span>
                            </div>
                        {% endif %}
                </div>
            {% endif %}

            <div class="ctas-container  m-t-standard">
                <button  class="standard-btn foc fs-18 default-btn transition brdr-rds-20 min-width" type="button"   >
                    {{read}}
                </button>
            </div>
                            
        </div>
            
    </article>
</a>